.header {
    background-color: #333e48;  
}

.card-1 {  
    background-image: url('images/CategoryImages/sub-banner-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.card-2 {
    background-image: url('images/CategoryImages/sub-banner-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.card-3 {
    background-image: url('images/CategoryImages/sub-banner-3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.newcard-1 {
    background-image: url('images/CategoryImages/cms-banner-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.newcard-2 {
    background-image: url('images/CategoryImages/cms-banner-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.banner {
    background-image: url('images/offer-banner.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
